@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
.pie-pagina{
    width: 100%;
    background-color: #FFBC0D;
    font-family: 'Plus Jakarta Sans',sans-serif;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1350px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 56px;
    padding: 30px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 120px;
}
.pie-pagina .grupo-1 .box h2{
    color: #6E5519;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #6E5519;
    margin-bottom: 10px;
}
.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
    color: #6E5519;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

/*      PANTALLA PARA TABLETS*/
@media (min-width:414px) and (max-width: 1256px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }

}

/*      PANTALLA PARA CELULARES     */
@media (max-width: 414px){
    .pie-pagina .grupo-1{
        width: 75%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        padding: 20px 0px;
    }
}


#nombre{
    text-align: center;
    font-family: 'Orelega One', sans-serif;
    font-size: 32px;
}
