@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root{
    --amarillo: #FFBC0D;
    --marron: #6E5519;
    --cremita: #F5EBDC;
    --ladrillo: #D32B08;
    --naranja: #E85D04;
    --verde: #007E00;

}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--cremita);
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/*********************/
/*      HEADER      */
/*      navbar      */
/********************/
.contenedor-logo{
    display: flex;
    align-items: center;
    gap: 2px;
    
}
.contenedor-logo-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.logo-img{
    width: 60px;
    margin: 0 0 0 96px;
}

.contenedor-navbar{
    background-color: var(--amarillo);
}

.navbar{
    display: flex;
    justify-content: space-between;         /*VER SI DEJO AROUND*/
    align-items: center;
    padding: 16px;
}
.btn-navbar{
    background-color: var(--cremita);
    padding: 4px 16px;
    border: 2px solid #000;
    border-radius: 8px;
}
.contenedor-items{
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.items{
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin: 0 96px 0 0;
}
.links-navbar{
    margin-right: 36px;
}
.contenedor-prod{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    justify-content: space-around;
}
.items li{
    list-style: none;
    
}
.items a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    position: relative;
    
}
.vertical-menu > li{
    text-align: center;
    padding: 4px;
    display: block;
    border-bottom: 1px solid #000;
    font-size: 1rem;
}
.vertical-menu > li:hover{
    background-color: #f3ddbd;
}
.nav-item-dropdown{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-item-dropdown .vertical-menu{
    position: absolute;
    display: none;
    list-style: none;
    background-color: var(--cremita);
    top: 100%;
    left: 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid #000;
    border-top: none;
}
.nav-item-dropdown:hover .vertical-menu{
    display: block;
}
.contenedor-usuario{
    display: flex;
    gap: 8px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--cremita);
    overflow: hidden;
    gap: 130px;
    margin: 0;
}
.search-form input{
    outline: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    border: none;
    padding: 0 8px;
    color: var(--marron);
    background-color: var(--cremita);
}
.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--cremita);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--marron);
}
.contenedor-menu-cel{
    display: none;
}
.item-link{
    display: flex;
    /*justify-content: space-around;
    align-items: baseline;*/
}
.item-link:hover{
    scale: 1.08;
}

/*CUADRADO CONTENEDOOR*/
/*CUADRADO CONTENEDOOR*/
/*CUADRADO CONTENEDOOR*/

.cuadradocontenedor {
    background-color: #F5EBDC;
    width: 100%;
    height: 100%; /* Establece una altura mínima para el contenedor */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alinea los elementos verticalmente */
}

.tablecabeza {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.linea {
    padding-top: 8px;
    display: block;
    margin: 0 auto; /* Esto centrará horizontalmente la imagen */
    background-color: #F5EBDC; /* Esto establecerá el fondo de color */
}


.nav-underline {
    background-color: #F5EBDC;
}


.nav-link:hover {
    color: #000;
}

.tablecabeza a.nav-link:hover {
    color: #000; 
}

.nav-item {
   padding-inline: 150px;
   background-color: #F5EBDC;
   padding-top: 16px;
   
}

.nav-underline .nav-link {
    color: black; 
}

.tablecabeza table {
    border-spacing: 10px; /* Ajusta el valor según la separación horizontal deseada */
}

.tablecabeza th {
    background-color: #F5EBDC; /* Color de fondo de los th */
    padding-inline: 150px; /* Espaciado interno para los th */
    padding-top: 16px;
}

.navegacionarriba .nav-link {
    font-size: 24px;
    color: #6E5519;
}
.btn-tabla {
    border-radius: 10px;
    padding: 4px 12px; /* Aumenta el espacio alrededor del texto en los botones */
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-weight: 500;
    border: none;
    background-color: #D32B08;
    transition: background-color 0.4s;
    padding-bottom: 8px;
    margin: 8px;
}
 .btn-tabla:hover{
    background-color: #F48C06;
    border: 1px;
 }

 .cuadradofactura {
    margin-top: 16px;
    width: 70%;
    height: 40%;
    background-color: #F5EBDC;
    border-radius: 16px;
}
.buscar-nuevo {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente en el eje X */
    text-align: center; /* Centra horizontalmente el texto */
}



.input-busqueda {
    background-color: white; /* Color de fondo suave */
    border-radius: 8px; /* Borde redondeado de 8px */
    padding: 8px; /* Añade un poco de espacio alrededor del texto */
    border: none; /* Elimina el borde predeterminado */
    width: 200px; /* Establece un ancho fijo o ajusta según tus necesidades */
    margin-left: 16px; /* Agrega un margen a la izquierda del campo de búsqueda */
}

.btn-tabla {
    margin-right: 24px; /* Agrega margen a la derecha del botón */
}

.contenedor-mayor {
    margin: 74px 96px 48px 96px;
    gap: 30px;
}

.contenedor-filtros{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 500px;
}
.label-estado{
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
}
#estados{
    background-color: #fff;
    color: #000;
    border-radius: 8px;
    gap: 4px;
    padding: 4px 8px;
    margin: 2px 4px;
    font-size: 24px;
    border: 1px solid var(--marron);
}
.caja-buscador{
    background-color: #F5EBDC;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--marron);
    gap: 30px;
    padding: 2px; 
    display: flex;
    flex-direction: row;   
    
}
.caja-buscador input{
    outline: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 24px;
    border: none;
    padding: 0 8px;
    color: var(--marron);
}
.caja-buscador input::-webkit-search-cancel-button {
	appearance: none;
}
.caja-buscador .btn-search-body{
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
}
.btn-search-body{
    border: none;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    padding: 2px;
    
}


.contenedor-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5EBDC;
    max-width: fit-content;
    padding: 16px;
    border-radius: 16px;
    border: 1px solid var(--marron);
    font-size: 20px;

}
.tabla{
    /*table-layout: fixed;*/
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    
}

/* Aplica un borde inferior a las celdas th de la fila */
.cabeza-tabla th {
    border-bottom: 1px solid #000; /* Puedes ajustar el color y el grosor según tus preferencias */
}

/* Opcional: para subrayar las celdas td de la fila */
.cabeza-tabla td {
    border-bottom: 1px solid #000; /* Puedes ajustar el color y el grosor según tus preferencias */
}

.contenedor-tabla{
    overflow-x: auto;
}

th{
    padding: 16px;
    text-align: center;
}
.btns-acciones{
    gap: 8px;
}
.btn-tabla{
    border-radius: 10px;
    padding: 2px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #fff;
    font-weight: 500;
    border: 1px solid;
}
.btn-tabla a{
    text-decoration: none;
    color: #fff;
}
.btn-entregar{
    background-color: var(--ladrillo);
}
.btn-entregar:hover{
    background-color: #fff;
    border: 1px solid var(--ladrillo);
    color: var(--ladrillo);
}
.btn-ver{
    background-color: var(--marron);
}
.btn-ver:hover{
    background-color: #fff;
    border: 1px solid var(--marron);
    color: var(--marron);
}
.btn-ver a:hover{
    color: var(--marron);
}

.btn-fin-tabla{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin: 16 96px 96px auto;
}
.btn-chevron{
    background-color: #fff;
    border: 1px solid var(--marron);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 8px;
    color: var(--marron);
    
}
.btn-chevron:hover{
    background-color: var(--marron);
    border: 1px solid #fff;
    color: #fff;
}

.button-input-container {
    display: flex;
    flex-direction: row;
    align-items: center; /* Centra horizontalmente en el eje X */
    gap: 46px; /* Espacio entre el botón y el input */
    font-size: 20px;
}

.button-input-container .btn-tabla {
    /* Estilos del botón "NUEVO" */
    border-radius: 10px;
    padding: 2px 8px;
    color: #fff;
    font-weight: 500;
    border: 1px solid;
    background-color: #D32B08;
    transition: background-color 0.4s;
}
.button-input-container .btn-tabla:hover {
    background-color: #fff;
    border: 1px solid var(--ladrillo);
    color: var(--ladrillo);
}

.input-busqueda {
    background-color: white; /* Color de fondo suave */
    border-radius: 8px; /* Borde redondeado de 8px */
    padding: 8px; /* Añade un poco de espacio alrededor del texto */
    border: none; /* Elimina el borde predeterminado */
    width: 200px; /* Establece un ancho fijo o ajusta según tus necesidades */
}