@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root{
    --amarillo: #FFBC0D;
    --marron: #6E5519;
    --cremita: #F5EBDC;
    --ladrillo: #D32B08;
    --naranja: #E85D04;
    --verde: #007E00;

}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--cremita);
}

/*      HEADER      */
/*      navbar      */
.contenedor-logo {
    display: flex;
    align-items: center;
    gap: 2px;

}

.contenedor-logo-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.logo-img {
    width: 80px;
    margin: 0 0 0 96px;
}

.contenedor-navbar {
    background-color: var(--amarillo);
}

.navbar {
    display: flex;
    justify-content: space-between;
    /*VER SI DEJO AROUND*/
    align-items: center;
    padding: 16px;
}

.btn-navbar {
    background-color: var(--cremita);
    padding: 4px 16px;
    border: 2px solid #000;
    border-radius: 8px;
}

.contenedor-items {
    display: flex;
    justify-content: space-between;
    gap: 56px;
}

.items {
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin: 0 96px 0 0;
}

.links-navbar {
    margin-right: 36px;
}

.contenedor-prod {
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    justify-content: space-around;
}

.items li {
    list-style: none;

}

.items a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
    position: relative;

}

.vertical-menu>li {
    text-align: center;
    padding: 4px;
    display: block;
    border-bottom: 1px solid #000;
    font-size: 1rem;
}

.vertical-menu>li:hover {
    background-color: #f3ddbd;
}

.nav-item-dropdown {
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.nav-item-dropdown .vertical-menu {
    position: absolute;
    display: none;
    list-style: none;
    background-color: var(--cremita);
    top: 100%;
    left: 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid #000;
    border-top: none;
}

.nav-item-dropdown:hover .vertical-menu {
    display: block;
}

.contenedor-usuario {
    display: flex;
    gap: 8px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--cremita);
    overflow: hidden;
    gap: 130px;
    margin: 0;
}

.search-form input {
    outline: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    border: none;
    padding: 0 8px;
    color: var(--marron);
    background-color: var(--cremita);
}

.search-form input::-webkit-search-cancel-button {
    appearance: none;
}

.search-form .btn-search {
    border: none;
    background-color: var(--cremita);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--marron);
}

.contenedor-menu-cel {
    display: none;
}

.item-link {
    display: flex;
    /*justify-content: space-around;
    align-items: baseline;*/
}

.item-link:hover {
    scale: 1.08;
}

/*      MAIN      */

.main {
    padding: 48px 64px;
}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    height: fit-content;
    background-color: #FAD57D;
}

.btn-comun {
    background-color: var(--ladrillo);
    color: var(--cremita);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 24px;
    border-radius: 8px;
    border: none;
    gap: 8px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
}

.btn-comun:hover {
    scale: 1.1;
}

.container-volver {
    padding-left: 40px;
    padding-top: 32px;
}

.container-titulo {
    text-align: center;
    border-bottom: 2px solid #000000;
    margin: 0px 320px;
}

.titulo-perfil {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}

.container-perfil {
    display: flex;
    margin: 72px 64px;
    height: 100%;
}

.container-pp {
    border-right: 2px solid #000000;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 40px;
}

#osito {
   width: 200px;
   border: 1px solid #000;
   border-radius: 16px;
   margin: 24px 0px;
}

.btn-editar-pp {
    margin-bottom: 24px;
}

.container-perfil form{
    width: 100%;
}



.container-datos {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
}

.dato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 30px;
}

label {
    font-weight: 700;
    font-size: 24px;
}

.dato input {
    margin: 4px;
    padding: 12px;
    width: 75%;
    border-radius: 8px;
    border: 1px solid #adadad;
}

.dato input::placeholder{
    font-size: 16px;
}

.dato input:focus{
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(182, 211, 255);
}

.dato p {
    font-size: 24px;
    font-weight: 500;
    margin: 10px;
}

.container-btn-inf {
    display: flex;
    width: 500;
    justify-content: space-between;
    margin: 40px 40px;
}

/*      FOOTER      */

.pie-pagina {
    width: 100%;
    background-color: #FFBC0D;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.pie-pagina a {
    text-decoration: none;
}

.pie-pagina a:hover {
    text-decoration: underline;
    color: var(--marron);
}
.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1350px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 56px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box1 figure {
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.pie-pagina .grupo-1 .box1 p {
    color: #6E5519;
    margin: 16px;
}

.pie-pagina .grupo-1 .box1 figure img {
    width: 120px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #6E5519;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #6E5519;
    margin-bottom: 10px;
}

.pie-pagina .grupo-2 {
    padding: 15px 10px;
    text-align: center;
    color: #6E5519;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

#nombre {
    color: #6E5519;
    text-align: center;
    font-family: 'Orelega One', sans-serif;
    font-size: 32px;
}

/********************************/
/*      PANTALLA PARA TABLETS   */
/********************************/

@media (max-width: 1256px) {

    /*      HEADER         */

    .barra-buscar {
        display: none;
    }

    .item-link {
        display: none;
    }

    .btn-navbar {
        display: none;
    }

    .contenedor-menu-cel {
        display: flex;
        background-color: var(--amarillo);
        border: none;
    }

    .contenedor-menu-cel:active {
        background-color: #d89e0c;
        border-radius: 4px;
    }

    /*      MAIN      */

    .container-perfil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 24px 0px;
    }

    .container-pp {
        border-right: none;

    }

    .container-datos{
        padding: 0px 24px;
    }

    .container-titulo {
        margin: 0px 120px;
    }

    .container-datos{
        row-gap: 10px;
    }

    .dato h1 {
        width: auto;
        padding: 2px;
        font-size: 28px;
    }
    .dato p {
        font-size: 20px;
        margin: 5px;
    }

    /*      FOOTER      */

    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}

/************************************/
/*      PANTALLA PARA CELULARES     */
/************************************/

/* estas a punto de leer una atrosidad pero no importa */

@media (max-width: 780px){

    /*       HEADER      */

    .container-datos{
        grid-template-columns: auto;
    }
}

@media (max-width: 580px){

    .main{
        padding: 16px 16px;
    }

    .container-volver{
        padding-left: 16px;
        padding-top: 16px;
    }

    .container-titulo{
        margin: 0px 32px;
    }

    .container-perfil{
        margin: 0px 0px;
    }

    .dato h1 {
        padding: 2px;
        font-size: 20px;
        font-weight: 900;
    }

    .dato p {
        font-size: 16px;
        margin: 5px;
    }

    .container-btn-inf{
        flex-direction: column;
        margin: 16px 24px;
    }

    .btn-contraseña{
        margin: 8px 0px;
    }

}

@media (max-width: 414px) {

    /*       HEADER      */
    .navbar {
        align-items: flex-start;
        justify-content: center;
        align-items: center;
    }

    .logo-img {
        margin: 8px;
    }

    .barra-buscar {
        display: none;
    }

    .item-link {
        display: none;
    }

    .btn-navbar {
        display: none;
    }

    .contenedor-menu-cel {
        display: flex;
        background-color: var(--amarillo);
        border: none;
    }

    .contenedor-menu-cel:active {
        background-color: #d89e0c;
        border-radius: 4px;
    }

    /*      FOOTER      */

    .pie-pagina .grupo-1 {
        width: 75%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding: 20px 0px;
    }
}
