@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root{
    --amarillo: #FFBC0D;
    --marron: #6E5519;
    --cremita: #F5EBDC;
    --ladrillo: #D32B08;
    --naranja: #E85D04;
    --verde: #007E00;

}

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: var(--cremita);
}

/*********************/
/*      HEADER      */
/*      navbar      */
/********************/
.contenedor-logo{
    display: flex;
    align-items: center;
    gap: 2px;
    
}
.contenedor-logo-search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.logo-img{
    width: 60px;
    margin: 0 0 0 96px;
}

.contenedor-navbar{
    background-color: var(--amarillo);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Añade un índice z alto para asegurar que la navbar esté encima */
}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    max-width: 1350px;
    margin: 0 auto;
}
.btn-navbar{
    background-color: var(--cremita);
    padding: 4px 16px;
    border: 2px solid #000;
    border-radius: 8px;
}
.contenedor-items{
    display: flex;
    justify-content: space-between;
    gap: 56px;
}
.items{
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin: 0 96px 0 0;
}
.links-navbar{
    margin-right: 36px;
}
.contenedor-prod{
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 8px;
    gap: 8px;
    justify-content: space-around;
}
.items li{
    list-style: none;
    
}
.items a{
    text-decoration: none;
    font-size: 16px;
    color: #000;
    position: relative;
    
}
.vertical-menu > li{
    text-align: center;
    padding: 4px;
    display: block;
    border-bottom: 1px solid #000;
    font-size: 1rem;
}
.vertical-menu > li:hover{
    background-color: #f3ddbd;
}
.nav-item-dropdown{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.nav-item-dropdown .vertical-menu{
    position: absolute;
    display: none;
    list-style: none;
    background-color: var(--cremita);
    top: 100%;
    left: 0;
    border-radius: 0 0 8px 8px;
    border: 1px solid #000;
    border-top: none;
}
.nav-item-dropdown:hover .vertical-menu{
    display: block;
}
.contenedor-usuario{
    display: flex;
    gap: 8px;
}

.search-form {
    position: relative;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 8px;
    background-color: var(--cremita);
    overflow: hidden;
    gap: 130px;
    margin: 0;
}
.search-form input{
    outline: none;
    font-family: 'Plus Jakarta Sans';
    font-size: 16px;
    border: none;
    padding: 0 8px;
    color: var(--marron);
    background-color: var(--cremita);
}
.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search{
    border: none;
    background-color: var(--cremita);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    color: var(--marron);
}
.contenedor-menu-cel{
    display: none;
}
.item-link{
    display: flex;
    /*justify-content: space-around;
    align-items: baseline;*/
}
.item-link:hover{
    scale: 1.08;
}

/*******************/
/*      BODY      */
/******************/

body {
    font-family: Arial, sans-serif;
    background-color: #F5EBDC;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #FAD57D; 
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 35px ;
    max-width: 1000000%;
    overflow-x: auto;
   
}

.contenedor-recuadro {
    background-color: #f3ddbd;
    padding: 20px 300px; /* Espacio de relleno alrededor del contenido */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para el recuadro */
    margin: 100px auto; /* Espacio exterior alrededor del recuadro */
    max-width: 100%; /* Ancho máximo para ajustar el contenido */
    margin-bottom: -20px;
    min-height: calc(100vh - 100px); /* Ocupa toda la pantalla verticalmente, descontando el espacio del pie de página */
    margin-top: 50px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 48px;
    color: black;
    margin: 20px 0 20px 0;
    text-decoration: underline;
}

.categorias {
    display: flex;
    justify-content: space-around;
    margin: 10px 0;
}

.categoria {
    font-size: 18px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.fechas {
    text-align: center;
    margin: 5px 0;
}

label, input[type="date"] {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
}

table {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #FAD57D;
    border-radius: 4px;
}

table th {
    background-color: #FFBC0D;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


table th.rounded-top-left {
    border-top-left-radius: 10px;
}

table th.rounded-top-right {
    border-top-right-radius: 10px;
}

th, td {
    padding: 10px;
    text-align: center;
    border: none;
    border-bottom: 1px solid #000; 
}

table td:first-child {
    text-align: left;
}

.boton-descargar {
    background-color: #D32B08;
    color: white;
    padding: 15px 30px;
    margin: 30px auto;
    display: block;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 24px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ver-pedidos {
    background-color: #D32B08;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    font-size: 10px;
    border-radius: 5px;
}

.main-content {
    text-align: center;
    padding: 20px;
    margin-top: 80px;
    margin-bottom: 1px;
}


/*********************/
/*      FOOTER      */
/*******************/
.pie-pagina{
    background-color: var(--amarillo);
    font-family: 'Plus Jakarta Sans', sans-serif;
    text-align: center;
    padding: 20px ;
    }

.pie-pagina a{
    text-decoration: none;
}
.pie-pagina a:hover{
    text-decoration: underline;
    color: var(--marron);
}
.pie-pagina .grupo-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 1350px;
    margin: auto;
}
.pie-pagina .grupo-1 .box figure{
    flex-basis: calc(25% - 20px);
    max-width: calc(25% - 20px);
    text-align: center;
}
.pie-pagina .grupo-1 .box figure img{
    max-width: 100%;
}
.pie-pagina .grupo-1 .box h2{
    padding: 15px 10px;
    text-align: center;
    color: #6E5519;
}
.pie-pagina .grupo-1 .box p{
    color: #6E5519;
    margin-bottom: 10px;
}
.pie-pagina .grupo-2{
    padding: 15px 10px;
    text-align: center;
    color: #6E5519;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
.pie-pagna .grupo-1 .box .pie-link{
    text-decoration: none;
}
.caja-logo{
    margin-left: 40px;
}
#nombre{
    text-align: center;
    font-family: 'Orelega One', sans-serif;
    font-size: 32px;
}


/********************************/
/*      PANTALLA PARA TABLETS   */
/********************************/
@media (max-width: 1280px){
   /*      HEADER         */
    .barra-buscar{
    display: none;
}
.item-link{
    display: none;
}
.btn-navbar{
    display: none;
}
.contenedor-menu-cel{
    display: flex;
    background-color: var(--amarillo);
    border: none;
}
.contenedor-menu-cel:active{
    background-color: #d89e0c;
    border-radius: 4px;
}

   /*      BODY         */
   .titulo-pedidos{
    font-size: 2.5rem;
   }
.contenedor-filtros{
    flex-wrap: wrap-reverse;
    gap: 8px;
}
.label-estado, #estados, buscador{
    font-size: 1rem;
}




   /*       FOOTER      */
    .pie-pagina .grupo-1{
        /* width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px; */
        flex-wrap: wrap;
    }
}




/************************************/
/*      PANTALLA PARA CELULARES     */
/************************************/
@media (max-width: 414px){
    /*       HEADER      */
    .navbar{
        align-items: flex-start;
        justify-content: center;
        align-items: center;
    }
    .logo-img{
        margin: 8px;
    }
    .barra-buscar{
        display: none;
    }
    .item-link{
        display: none;
    }
    .btn-navbar{
        display: none;
    }
    .contenedor-menu-cel{
        display: flex;
        background-color: var(--amarillo);
        border: none;
    }
    .contenedor-menu-cel:active{
        background-color: #d89e0c;
        border-radius: 4px;
        
    }
    .contenedor-mayor {
        margin: 24px;
    }



    /*       BODY      */
    .titulo-pedidos{
        font-size: 2.5rem;
       }
    .contenedor-filtros{
        flex-wrap: wrap-reverse;
        gap: 8px;
    }
    .label-estado, #estados, buscador{
        font-size: 1rem;
    }
    .contenedor-tabla{
        /* flex-wrap: wrap; */
        overflow-x: auto; /* Hace que la tabla sea desplazable horizontalmente en pantallas pequeñas */

    }
    .tabla{
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center; 
        table-layout:fixed;
        
    }
    th, td{
        display: inline;
        width: 100%;
        text-align: left;
        padding: 8px;
    }
    th{
        display: inline-flex;
        flex-direction: row;
        
    }
    tr{
        display: flex;
        flex-direction: row;
        width:max-content;
        text-align: center;
        vertical-align: top;
        
    }  
    .thead{
        display: flex;
        flex-direction:row;
        align-items: center;
    }
     


    /*       FOOTER      */
    .pie-pagina .grupo-1{
        width: 75%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:20px;
        padding: 20px 0px;
    }
}
